---
import type { IGenFooter } from "../services/graphql/__generated/sdk";
import RichTextRenderer from '@caisy/rich-text-astro-renderer';

export interface Props extends IGenFooter{}

const { content } = Astro.props;
---
<div class="flex items-center justify-center">
  <footer class="prose pb-10 pt-20 flex items-center justify-center">
    {content?.json && <RichTextRenderer node={content?.json} />}
  </footer>
</div>

