---
import type { IGenNavigation } from "../services/graphql/__generated/sdk";

export interface Props extends IGenNavigation {}

const { entries, homePage } = Astro.props;
const { slug } = Astro.params;
---

<header class="flex flex-wrap m-10 z-50 bg-white text-sm">
  <nav class="mx-auto" aria-label="Global">
    <div class="flex items-end flex-col justify-between flex-end">
      <div class="flex gap-5 flex-row flex-wrap items-center justify-center mt-0">
        {
          entries?.map((entry) => {
            if (!entry?.title || !entry.connection?.slug) {
              return null;
            }
            const active =
              entry.connection?.slug === slug ||
              (slug === undefined && entry.connection?.slug === homePage?.slug);
            if (active) {
              return (
                <a
                  class="font-medium text-blue-500"
                  href={"/" + entry.connection?.slug}
                  aria-current="page"
                >
                  {entry?.title}
                </a>
              );
            }
            return (
              <a
                class="font-medium text-gray-600 hover:text-gray-400"
                href={"/" + entry.connection?.slug}
              >
                {entry?.title}
              </a>
            );
          })
        }
      </div>
    </div>
  </nav>
</header>
